* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header-text {
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.shape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.shape {
    width: 200px;
    height: 200px;
    background-color: limegreen;
    border-radius: 50%;
    transition: background-color .7s;
}

.shape:hover {
    background-color: yellow;
}